name: Test the library

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ 'ubuntu-latest', 'macos-latest' ]
        python-version: [ '3.10', '3.11', '3.12', '3.13', '3.14' ]

    name: ${{ matrix.os }}, Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Get latest CMake
        uses: lukka/get-cmake@latest

      - name: Test with tox
        run: |
          pip install tox
          tox
